html, body {
    font-size: .14rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #333;
    font-family: "sefl";
}
@font-face{
    font-family: sefl;
    src: url("sefl.TTF");
}
body, h1, h2, h3, h4, h5, h6, div, img, p, ol, dd, dl, dt, ul, li, hr, form, input, span, i {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: none !important;
}

.clear:after { /*清除浮动带来的高度塌陷*/
    content: "";
    display: block;
    clear: both;
}

.clear-top:before { /*清除用margin—top作用到父元素上(加在符元素上)*/
    content: "";
    display: table;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.main {
    width: 1130px;
    margin: 0 auto;
}

img {
    vertical-align: middle;
}

textarea {
    resize: none;
}

button {
    border: none;
    outline: none;
}

.wine-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}